.productCard {
    @apply bg-[var(--white)] shadow-md rounded-lg overflow-hidden p-2 w-full text-left;
    // box-shadow: 0 0 15px 5px #0002;
    .productImg {
        @apply h-[200px] w-full overflow-hidden rounded-lg;
        img {
            @apply w-full h-full object-cover;
        }
    }
    .content {
        @apply pt-2;
        h3 {
            @apply text-[1.25rem] font-bold text-[var(--black)];
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        h5 {
            @apply text-[1.125rem] text-[var(--theme-color)] font-semibold;
        }
        .specs {
            @apply flex items-center gap-x-2;
            span {
                @apply font-semibold relative text-[0.875rem];
                &:not(:first-child)::before {
                    content: "";
                    @apply absolute w-[1px] h-full bg-[var(--text-color)] -left-1;
                }
            }
        }
        .time {
            @apply block font-medium text-[var(--grey-color)];
        }
        .location {
            @apply flex items-center gap-x-2 mt-1;
            i {
                @apply text-[var(--secondary-color)];
            }
        }
    }
}
